@{
    ViewBag.Title = "Index2";
    @Styles.Render("~/Content/tree")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/tree")
}

<h2>Index2</h2>

<div id="tree_container"></div>
<div id="debug"></div>
<div id="position"></div>