@{
    ViewBag.Title = "Index2";
    @Styles.Render("~/Content/edit")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/test")
    @Scripts.Render("~/bundles/queries")
}

<body>

    <div class="test-content">

        <div id="test-left">
            <div id="questions-panel">
                <div id="test-question" class="test-panel">
                    a
                </div>
                <div id="test-answer" class="test-panel">
                    <textarea id="test-answer-text" rows="4" cols="50"></textarea>
                </div>

                <div id="test-correct-answers" class="test-panel" style:"display:none">
                </div>

            </div>
        </div>

        <div id="test-right">
            <div id="stats-panel">

                <div id="info-lines-container">
                    <div class="test-info-line">
                        <div class="test-info-line-label">Left</div>
                        <div id="left-questions" class="test-info-line-value"></div>
                    </div>

                    <div class="test-info-line">
                        <div class="test-info-line-label">Words</div>
                        <div id="left-words" class="test-info-line-value"></div>
                    </div>

                    <div class="test-info-line">
                        <div class="test-info-line-label">Done</div>
                        <div id="done-questions" class="test-info-line-value"></div>
                    </div>

                    <div class="test-info-line">
                        <div class="test-info-line-label">Correct</div>
                        <div id="correct-answers" class="test-info-line-value"></div>
                    </div>
                </div>

                <div id="result-box">
                    0
                </div>

            </div>
            <div id="previous-queries">

            </div>
        </div>

    </div>

</body>