@{
    ViewBag.Title = "Index2";
    @Styles.Render("~/Content/edit")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/test")
    @Scripts.Render("~/bundles/queries")
}

<body>

    <div class="test-content">

        <div id="test-left">
            <div id="questions-panel">
                <div id="test-question" class="test-panel">
                    a
                </div>
                <div id="test-answer" class="test-panel">
                    <textarea id="test-answer-text" rows="4" cols="50"></textarea>
                </div>

                <div id="test-correct-answers" class="test-panel">
                </div>

                <div id="buttons-panel" class="test-buttons-panel">
                    <input type="button" id="next-query-button" value="Next" />
                </div>

            </div>

        </div>

        <div id="test-right">
            <div id="stats-panel">

                <div id="info-lines-container">
                    <div class="test-info-line">
                        <div class="test-info-line-label">Left</div>
                        <div id="left-questions" class="test-info-line-value"></div>
                    </div>

                    <div class="test-info-line">
                        <div class="test-info-line-label">Words</div>
                        <div id="left-words" class="test-info-line-value"></div>
                    </div>

                    <div class="test-info-line">
                        <div class="test-info-line-label">Done</div>
                        <div id="done-questions" class="test-info-line-value"></div>
                    </div>

                    <div class="test-info-line">
                        <div class="test-info-line-label">Correct</div>
                        <div id="correct-answers" class="test-info-line-value"></div>
                    </div>
                </div>

                <div id="result-box">
                    
                </div>

            </div>

            <div id="previous-queries">
@*                <div id="x" class="previous-query-container previous-query-correct">
                    <div id="x-meta-container" class="previous-query-metadata-container">
                        <div id="x-question" class="previous-query-metadata-subpanel previous-query-question">
                            pytanie
                        </div>
                        <div id="x-correct-answers-container" class="previous-query-metadata-subpanel">
                            <div class="previous-query-correct-answer">question</div>
                            <div class="previous-query-correct-answer">abc</div>
                            <div class="previous-query-correct-answer previous-query-other-correct">i 7 innych odpowiedzi</div>
                        </div>
                        <div id="x-edit-icon" class="previous-query-edit-icon">
                        </div>
                    </div>
                    <div id="x-my-answer-container" class="previous-query-my-answer-container">
                        <div id="x-my-answer" class="previous-query-my-answer">
                            questin
                        </div>
                    </div>
                    <div id="x-query-stats" class="previous-query-stats-container">
                        <div class="previous-query-start-icon query-counter-icon"></div>
                        <div class="query-stat-value">243</div>
                        
                        <div class="previous-query-start-icon query-correct-counter-icon"></div>
                        <div class="query-stat-value">219</div>

                        <div class="previous-query-start-icon query-incorrect-counter-icon"></div>
                        <div class="query-stat-value">24</div>

                        <div class="query-stat-value query-correct-percent">95.4%</div>

                    </div>
                </div>*@
            </div>

        </div>

    </div>

</body>