@{
    ViewBag.Title = "Index2";
    @Styles.Render("~/Content/tree")
    @Styles.Render("~/Content/dropdown")
    @Styles.Render("~/Content/question")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/tree")
    @Scripts.Render("~/bundles/test")
    @Scripts.Render("~/bundles/dropdown")
    @Scripts.Render("~/bundles/select")
    @Scripts.Render("~/bundles/question")
}

<h2>Index2</h2>

<head>
    <script>
        $(document).ready(function () { $("#e1").select2(); });
    </script>
</head>
<body>
    <select id="e1">
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
    </select>
</body>