@{
    ViewBag.Title = "Index2";
    //@Styles.Render("~/Content/tree")
    @Styles.Render("~/Content/dropdown")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    //@Scripts.Render("~/bundles/tree")
    @Scripts.Render("~/bundles/dropdown")
}

<h2>Index2</h2>

<div id="tree_container"></div>
<div id="drag"></div>
<div id="drop"></div>