@model Typer.Web.Models.TestQuestionViewModel

@{
    ViewBag.Title = "Test";
    @Styles.Render("~/Content/test")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/test")
}

<div id="test-container" class="container">

    <div id="test-question" class="test-panel">
        <div id="test-question-content" class="test-panel-content">
            
        </div>
    </div>

    <div id="test-answer" class="test-panel">
        <textarea id="test-answer-text" rows="4" cols="50"></textarea>
    </div>

</div>