@model Typer.BLL.Services.UserLoginData

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Sign.cshtml";
    @Scripts.Render("~/bundles/login")
}


<div id="account">
    @using (Html.BeginForm())
    {
        <fieldset>
            <!-- User name -->
            <div class="field">
                @Html.LabelFor(u => u.Username, new { @class="label" })
                <span>
                    @Html.TextBoxFor(u => u.Username, new{  
                        @class="default", 
                        @placeholder="Username", 
                        @id="Username"
                    })
                </span>
            </div>

            <!-- Password -->
            <div class="field">
                @Html.LabelFor(u => u.Password, new { @class="label" })
                <span>
                    @Html.PasswordFor(u => u.Password, new{  
                        @class="default", 
                        @placeholder="Password", 
                        @id="Password"
                    })
                </span>
            </div>

        </fieldset>
        
        @Html.ValidationSummary(true);

        <div class="footer">
            <input type="submit" value="Sign in" />
            <a href="" class="reset">Reset my password</a>
            @Html.ActionLink("Register", "Register", "Login")
        </div>

    }
</div>
