@model Typer.BLL.Services.UserRegistrationData

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Sign.cshtml";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/registration")
}

<div id="account">

    @using (Html.BeginForm())
    {
        
        @Html.ActionLink(" ", "NavigateToHomePage", "Login", new { @class = "close" })
        
        <fieldset>

            <!-- User name -->
            <div id="div_username" class="field">
                @Html.LabelFor(u => u.Username, new { @class = "label" })
                <div class="error">
                    <div class="error_content"></div>
                </div>
                <span class="icon"></span>
                <span>
                    @Html.TextBoxFor(u => u.Username, new
               {
                   @class = "default",
                   @placeholder = "Username",
                   @id = "Username"
               })
                </span>
            </div>

            <!-- Password -->
            <div id="div_password" class="field">
                @Html.LabelFor(u => u.Password, new { @class = "label" })
                <div class="error">
                    <div class="error_content"></div>
                </div>
                <span class="icon"></span>
                <span>
                    @Html.PasswordFor(u => u.Password, new
               {
                   @class = "default",
                   @placeholder = "Password",
                   @id = "Password"
               })
                </span>

            </div>

            <!-- Confirm password -->
            <div id="div_confirm_password" class="field">
                @Html.LabelFor(u => u.ConfirmPassword, new { @class = "label" })
                <div class="error">
                    <div class="error_content"></div>
                </div>
                <span class="icon"></span>
                <span>
                    @Html.PasswordFor(u => u.ConfirmPassword, new
               {
                   @class = "default",
                   @placeholder = "Confirm password",
                   @id = "ConfirmPassword"
               })
                </span>
            </div>

            <!-- Mail -->
            <div id="div_mail" class="field">
                @Html.LabelFor(u => u.Email, new { @class = "label" })
                <div class="error">
                    <div class="error_content"></div>
                </div>
                <span class="icon"></span>
                <span>
                    @Html.TextBoxFor(u => u.Email, new
               {
                   @class = "default",
                   @placeholder = "E-mail",
                   @id = "Mail"
               })
                </span>
            </div>

@*            <!-- Country -->
            <div class="field">
                @Html.LabelFor(u => u.CountryId, new { @class="label" })
                <span>
                    @Html.TextBoxFor(u => u.CountryId, new{  
                        @class="default", 
                        @placeholder="Country", 
                        @id="Country"
                    })
                </span>
            </div>*@

        </fieldset>
        
        <div class="footer">
            <input id="btnRegister" type="submit" value="Register" />
            @Html.ActionLink("Sign in", "Login", "Login", new { @class = "signup" })
        </div>

    }
</div>

