@model Typer.Domain.Entities.UserRegistrationData

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/Sign.cshtml";
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/resend")
}



<div id="account">
    @using (Html.BeginForm())
    {
    
        @Html.ActionLink(" ", "NavigateToHomePage", "Login", new { @class = "close" })
        
        <div class="line center">
            <h2>Password reset</h2>
        </div>

        <div class="line">
            If you want your password to be reset, please enter e-mail address given by the registration.
        </div>

        <div class="line">
            We will generate new temporary password and send it to your e-mail.
        </div>
        
        <fieldset>
            <div id="div_mail" class="field passwordReset">
                @Html.LabelFor(u => u.Email, new { @class="label" })
                <div class="error">
                    <div class="error_content"></div>
                </div>
                <span>
                    @Html.TextBoxFor(u => u.Email, new{  
                        @class="default", 
                        @placeholder="E-mail", 
                        @id="Email"
                    })
                </span>
            </div>

        </fieldset>

        <fieldset>
            <input id="btnSend" type="submit" value="Reset password" />
        </fieldset>
    
    }

</div>