@model Typer.Domain.Entities.User

<div id="user">
    <div class="container">
        <div class="vert-center">
            @if (Request.IsAuthenticated) {
                @Html.ActionLink("Sign Out", "Logout", "Login", new { @class = "right" })
                <span class="right"> | </span>
                <span class="right">@Model.Email</span>
                <span class="right"> | </span>
                <span class="right">@Model.Username</span>                
            }
            else
            {
                @Html.ActionLink("Register", "Register", "Login", new { @class = "right" })
                <span class="right"> | </span>
                @Html.ActionLink("Sign In", "Login", "Login", new { @class = "right" })
            }
        </div>
    </div>
</div>