@model Typer.Domain.Entities.User

<div id="user">
    <div class="container">
        <div class="vert-center">
            @if (Request.IsAuthenticated) {
                
                
                @Html.ActionLink("Test", "Index", "Test", new { Area = "" }, new { @class = "left block" })
                @Html.ActionLink("Edit", "Index", "Edit", new { Area = "" }, new { @class = "left block" })
                
                @Html.ActionLink("Sign Out", "Logout", "Login", new { @class = "right block" })
                <span class="right block"> | </span>
                <span class="right block">@Model.Email</span>
                <span class="right block"> | </span>
                <span class="right block">@Model.Username</span>                
            }
            else
            {
                @Html.ActionLink("Register", "Register", "Login", new { @class = "right block" })
                <span class="right block"> | </span>
                @Html.ActionLink("Sign In", "Login", "Login", new { @class = "right block" })
            }
        </div>
    </div>
</div>