@model Typer.Domain.Entities.User

<div id="cart">
    @if (Request.IsAuthenticated) {
        @Model.Username
        <span> | </span>
        @Model.Email
        <span> | </span>
        @Html.ActionLink("Sign Out", "Logout", "Login")
    }
    else {
        @Html.ActionLink("Register", "Register", "Login")
        <span> | </span>
        @Html.ActionLink("Sign In", "Login", "Login")
    }
</div>