@model Typer.Web.Models.MetawordsListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/word")
    @Styles.Render("~/Content/tree")
    @Styles.Render("~/Content/dropdown")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/word")
    @Scripts.Render("~/bundles/tree")
    @Scripts.Render("~/bundles/dropdown")
}

@*<div id="filter-panel">

</div>*@

<div class="word header">
    <div class="id">Id</div>
    <div class="name">Name</div>
    <div class="weight">Weight</div>
    <div class="type">Type</div>
    <div class="categories">Categories</div>
</div>


@foreach (var m in Model.Metawords) {
    Html.RenderPartial("Metaword", m);
}


<div id="add-button-container">
    @Html.ActionLink("Add", "Add", "Metawords", new { @class = "add" })
</div>




<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>