@model Typer.Domain.Entities.Question

@{
    ViewBag.Title = "Edit";
    @Styles.Render("~/Content/edit")
}

<div class="container">
    <div class="vert-center edit-panel">

        <div class="field-line">
            @Html.LabelFor(q => q.Id, new { @class="label" })
            <span>
                @Html.TextBoxFor(q => q.Id, new{  
                    @class="field id", 
                    @placeholder="Id", 
                    @id="Id",
                    @disabled="disabled"
                })
            </span>
        </div>

        <div class="field-line">
            @Html.LabelFor(q => q.Name, new { @class="label" })
            <span>
                @Html.TextBoxFor(q => q.Name, new{  
                    @class="default field", 
                    @placeholder="Name", 
                    @id="Name"
                })
            </span>
        </div>

    </div>
</div>