@model Typer.Domain.ViewModels.QuestionEditViewModel

@{
    ViewBag.Title = "Edit";
    @Styles.Render("~/Content/edit")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/edit")
}

<div class="container">
    <div class="vert-center edit-panel">

        <fieldset>
            
            <div id="div_id" class="field-line">
                @Html.LabelFor(q => q.Question.Id, new { @class="label" })
                <span>
                    @Html.TextBoxFor(q => q.Question.Id, new{  
                        @class="field id", 
                        @placeholder="Id", 
                        @id="Id",
                        @disabled="disabled"
                    })
                </span>
            </div>

            <div id="div_name" class="field-line">
                @Html.LabelFor(q => q.Question.Name, new { @class="label" })
                <div class="error">
                    <div class="error_content"></div>
                </div>
                <span class="icon"></span>
                <span>
                    @Html.TextBoxFor(q => q.Question.Name, new{
                        @class="field default", 
                        @placeholder="Name", 
                        @id="Name"
                    })
                </span>
            </div>

@*            <div id="div_categories" class="field-line">
                @Html.LabelFor(q => q.Name, new { @class="label" })
                <div class="invisible error">
                    <div class="error_content"></div>
                </div>
                <span class="add icon"></span>
                <span>
                    @Html.TextBoxFor(q => q.Name, new{  
                        @class="field default", 
                        @placeholder="Categories", 
                        @id="Categories",
                        @disabled="disabled"
                    })
                </span>
            </div>*@


            <div id="languages_panel">



            </div>


        </fieldset>

    </div>
</div>