@model Typer.Web.Models.QuestionEditViewModel

@{
    ViewBag.Title = "Edit";
    @Styles.Render("~/Content/edit")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/edit")
}

<div class="container">
    <div class="vert-center edit-panel">
        
    @using (Html.BeginForm("Edit", "Edit", FormMethod.Post))
    {

        <fieldset>
            
            <div id="div_id" class="hidden">
                <span>
                    @Html.TextBoxFor(q => q.Question.Id, new{ @id="Id" })
                </span>
            </div>

            <div id="div_name" class="field-line">
                @Html.LabelFor(q => q.Question.Name, new { @class="label" })
                <div class="error">
                    <div class="error_content"></div>
                </div>
                <span class="icon"></span>
                <span>
                    @Html.TextBoxFor(q => q.Question.Name, new{
                        @class="field default", 
                        @placeholder="Name", 
                        @id="Name"
                    })
                </span>
            </div>

            <div id="div_weight" class="field-line">

                <div class="hidden">
                    @Html.TextBoxFor(q => q.Question.Weight, new{
                        @id="Weight"
                    })
                </div>

                @Html.LabelFor(q => q.Question.Weight, new { 
                    @class="label",
                    @id="questionWeight"
                })


                <div id="weight-panel">
                    <div class="weight">
                        @for (int i = 0; i < Model.Question.Weight; i++)
                        {
                            <div class="weight-icon checked">@(i + 1)</div>
                        }

                        @for (int i = Model.Question.Weight; i < 10; i++)
                        {
                            <div class="weight-icon">@(i + 1)</div>
                        }
                    </div>
                </div>

            </div>


            @*<div id="div_categories" class="field-line">
                @Html.LabelFor(q => q.Name, new { @class="label" })
                <div class="invisible error">
                    <div class="error_content"></div>
                </div>
                <span class="add icon"></span>
                <span>
                    @Html.TextBoxFor(q => q.Name, new{  
                        @class="field default", 
                        @placeholder="Categories", 
                        @id="Categories",
                        @disabled="disabled"
                    })
                </span>
            </div>*@


            <div id="languages_panel">

                @foreach (var language in Model.UserLanguages) {
                    Html.RenderPartial("EditLanguage", language);
                }

            </div>


            <div class="footer">
                <input id="btnSave" type="submit" value="Save" />
            </div>


        </fieldset>

    }
        
    </div>
</div>