@model Typer.Domain.Entities.Question

<div class="question @(Model.IsActive ? "active" : "inactive")">
    <div class="id">@Model.Id</div>
    <div class="name">@Model.Name</div>
    @for (int i = 0; i < Model.Weight; i++)
    {
        @Html.ActionLink(" ", "ChangeWeight", "Edit", new { id = Model.Id, weight = i + 1 }, new { @class = "weight checked" });
    }

    @for (int i = Model.Weight; i < 10; i++)
    {
        @Html.ActionLink(" ", "ChangeWeight", "Edit", new { id = Model.Id, weight = i + 1 }, new { @class = "weight" });
    }


    <div class="categories">Categories</div>

    @Html.ActionLink("Edit", "Edit", "Edit")

    @if (Model.IsActive)
    {
        @Html.ActionLink("Deactivate", "Deactivate", "Edit");
    } else {
        @Html.ActionLink("Activate", "Activate", "Edit");
    }


</div>