@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //@Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/question")
    @Styles.Render("~/Content/categories")
    @Styles.Render("~/Content/tree")
    @Styles.Render("~/Content/dropdown")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tree")
    @Scripts.Render("~/bundles/dropdown")
    @Scripts.Render("~/bundles/search")  
    @Scripts.Render("~/bundles/categories")
}

<div id="categories-tree" class="col scroll-y"></div>
<div id="category-details" class="col">
    <div id="selected-category">Selected category</div>
    <div id="category-options" class="options row">
        
    </div>
    <div id="category-items" class="items row scroll-y"></div>
</div>