@{
    ViewBag.Title = "Index";
    //@Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/categories")
    @Styles.Render("~/Content/tree")
    @Styles.Render("~/Content/dropdown")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/tree")
    @Scripts.Render("~/bundles/dropdown")    
    @Scripts.Render("~/bundles/categories")
}

<div id="categories-tree" class="col scroll-y"></div>
<div id="category-details" class="col">
    <div id="category-options" class="options row"></div>
    <div id="category-items" class="items row scroll-y"></div>
</div>