@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //@Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/question")
    @Styles.Render("~/Content/categories")
    @Styles.Render("~/Content/tree")
    @Styles.Render("~/Content/dropdown")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/search")  
    @Scripts.Render("~/bundles/categories")
}


<div id="category-options" class="category-options"></div>
<div class="categories-container">
    <div id="categories-tree"></div>
    <div id="category-details">
        <div id="selected-category">Selected category</div>
        <div id="category-items"></div>
    </div>
</div>