@{
    ViewBag.Title = "Index";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/tree")
    @Scripts.Render("~/bundles/dropdown")    
    @Scripts.Render("~/bundles/categories")
}

<h2>Categories</h2>