<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/user")
        @Styles.Render("~/Content/tree")
        @Styles.Render("~/Content/dropdown")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/global")
        @Scripts.Render("~/bundles/app")
    </head>
    <body>

        @{Html.RenderAction("Summary", "Login");}

        @RenderBody()
        
        @RenderSection("scripts", required: false)

    </body>
</html>