@model Typer.Web.Models.QuestionsListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/tree")
    @Styles.Render("~/Content/dropdown")
    @Styles.Render("~/Content/question")
    //@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/tree")
    @Scripts.Render("~/bundles/dropdown")
    @Scripts.Render("~/bundles/question")
}


<div class="question header">
    <div class="id">Id</div>
    <div class="name">Name</div>
    <div class="weight">Weight</div>
    <div class="categories">Categories</div>
</div>


@foreach (var q in Model.Questions) {
    Html.RenderPartial("Question", q);
}


<div id="add-button-container">
    <a id="add-question" class="add">Add</a> 
</div>




<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>