@model Typer.Domain.Entities.QuestionOption

<div id="@Model.Id" class="option">
    <div class="button delete" title="Delete this option"></div>
    <div class="button edit" title="Edit this option"></div>
    <div class="content" data-value="@Model.Content">
        @Html.QuestionDisplayer(Model.Content)
    </div>
    <div class="weight" data-value="@Model.Weight">@Model.Weight</div>
</div>