@model Typer.Domain.Entities.Question

<div class="question @(Model.IsActive ? "active" : "inactive")">
    <div class="id">@Model.Id</div>
    <div class="name">@Model.Name</div>
    <div class="weight">
        @for (int i = 0; i < Model.Weight; i++)
        {
            @Html.ActionLink(" ", "UpdateWeight", "Questions", new { id = Model.Id, weight = i + 1 }, new { @class = "weight checked" });
        }

        @for (int i = Model.Weight; i < 10; i++)
        {
            @Html.ActionLink(" ", "UpdateWeight", "Questions", new { id = Model.Id, weight = i + 1 }, new { @class = "weight" });
        }
    </div>


    <div class="categories">Categories</div>

    @*<div class="edit-question">@Model.Id</div>*@

    @Html.ActionLink("Edit", "Edit", "Questions", new { id = Model.Id }, null)

    @if (Model.IsActive)
    {
        @Html.ActionLink("Deactivate", "Deactivate", "Questions", new { id = Model.Id }, null);
    } else {
        @Html.ActionLink("Activate", "Activate", "Questions", new { id = Model.Id }, null);
    }


</div>



<div id="edit-container">
    <div class="relative">
        <div id="edit-close"></div>
        
        <div id="edit-name" class="line">
            <div id="name-label" class="label">Name</div>
            <div id="name-error" class="error">
                <div id="name-error-content" class="error_content"></div>
            </div>
            <span id="name-error-icon" class="icon"></span>
            <span>
                <input id="name" class="default" type="text" />
            </span>
        </div>

        <div id="edit-weight" class="line">
            <div id="weight-label" class="label">Weight</div>
            <div class="weight-icons-container">
                <div id="weight-icons" class="weight-icons">
                        <div id="0" class="weight-icon">1</div>
                        <div id="1" class="weight-icon">2</div>
                        <div id="2" class="weight-icon">3</div>
                        <div id="3" class="weight-icon">4</div>
                        <div id="4" class="weight-icon">5</div>
                        <div id="5" class="weight-icon">6</div>
                        <div id="6" class="weight-icon">7</div>
                        <div id="7" class="weight-icon">8</div>
                        <div id="8" class="weight-icon">9</div>
                        <div id="9" class="weight-icon">10</div>
                </div>
            </div>
            <span>
                <input id="weight" class="default centered" type="text" />
            </span>

        </div>

        <div class="line">
            <div id="edit-buttons">
                <input id="confirm-edit" type="submit" value="Confirm" class="edit-button" />
                <input id="cancel-edit" type="submit" value="Cancel" class="edit-button" />
            </div>
        </div>

    </div>
</div>






<div class="container">
    <div class="vert-center edit-panel">
        
    <form action="/Questions/Edit/1" method="post">        
        <fieldset>
   

<div id="languages_panel">

        <div class="language" data-value="polski">



            <div class="options">
        <div id="1" class="option">
            <div class="button delete" title="Delete this option"></div>
            <div class="button edit" title="Edit this option"></div>
            <div class="content" data-value="a(b/c)">
                <span class="plain">a(b/c)</span>
            </div>
            <div class="weight" data-value="9">9</div>
        </div><div id="2" class="option">
            <div class="button delete" title="Delete this option"></div>
            <div class="button edit" title="Edit this option"></div>
            <div class="content" data-value="b(d/e) [option]">
                <span class="plain">b(d/e) </span><span class="complex">option</span>
            </div>
            <div class="weight" data-value="8">8</div>
        </div>    </div>

            <div class="buttons">
                <div id="add_polski" class="button add">Add</div>
            </div>



</div>
                
                
                <div class="language" data-value="angielski">

    <div class="info">
        <div class="collapse"></div>
        <div class="flag"></div>
        <div class="name"></div>
    </div>

    <div class="options">
<div id="3" class="option">
    <div class="button delete" title="Delete this option"></div>
    <div class="button edit" title="Edit this option"></div>
    <div class="content" data-value="x">
        <span class="plain">x</span>
    </div>
    <div class="weight" data-value="10">10</div>
</div>    </div>

    <div class="buttons">
        <div id="add_angielski" class="button add">Add</div>
    </div>



</div>
            </div>

            <div class="footer">
                <input id="btnSave" type="submit" value="Save" />
            </div>


        </fieldset>
    </form>        
    </div>
</div>
        <script src="/Scripts/jquery-1.7.1.js"></script>

        

    </body>
</html>