@model Typer.Domain.Entities.Question

<div class="question @(Model.IsActive ? "active" : "inactive")">
    <div class="id">@Model.Id</div>
    <div class="name">@Model.Name</div>
    <div class="weight">
        @for (var i = 0; i < Model.Weight; i++)
        {
            @Html.ActionLink(" ", "UpdateWeight", "Questions", new { id = Model.Id, weight = i + 1 }, new { @class = "weight checked" })
        }

        @for (var i = Model.Weight; i < 10; i++)
        {
            @Html.ActionLink(" ", "UpdateWeight", "Questions", new { id = Model.Id, weight = i + 1 }, new { @class = "weight" })
        }
    </div>


    <div class="categories">@Model.CategoriesString</div>

    <div class="edit-item">@Model.Id</div>

    @(Model.IsActive ? Html.ActionLink("Deactivate", "Deactivate", "Questions", new {id = Model.Id}, null) : Html.ActionLink("Activate", "Activate", "Questions", new {id = Model.Id}, null))


</div>